<div class="card-columns">
  <% @type.pet.each do |pet| %>
    <div class="card">
      <%= image_tag(pet.image.url, alt: "/assets/pet.png", class: "card-img-top") if pet.image? %>
      <div class="card-body">
        <h5 class="card-title"><%= pet.names%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= pet.rating %></h6>
        <p class="card-text">
          <%= pet.location.city %>,
          <%= pet.location.state %>,
          <%= pet.location.country %>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to 'Review', new_review_path(:pet => pet), class:"btn btn-sm btn-outline-primary"%>
            <%= link_to 'Profile', pet, class:"btn btn-sm btn-outline-secondary"%>
            <% if user_signed_in?%>
              <% if current_user.id == pet.user.id%>
                <%= link_to 'Edit', edit_pet_path(pet), class:"btn btn-sm btn-outline-secondary"%>
                <%= link_to 'Delete', pet, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-sm btn-outline-secondary"%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>